<ion-content [fullscreen]="true">
  <div class="container-main-box mt30 mb30">
    <div class="content">
      <h3>Sign In</h3>
    </div>
    <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>
        <ion-list>
          <ion-item>
            <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
          </ion-item>
          <div class="invalid-input" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
            <span class="error-field">Field required</span>
          </div>
          <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
          <div class="invalid-input" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            <span class="error-field">Field required</span>
          </div>
          <div class="mb10"></div>
          <ion-button class="custom-button signInDefault" expand="block" (click)="signIn">Sign In</ion-button>
        </ion-list>
      </form>
    </div>
    <div class="divider"></div>
    <p class="text-or-signin">Or</p>
    <div class="content">
      <ion-button class="custom-button signInWithGoogle" expand="block"><img src="../../assets/google.png" class="iconW16 mr3"> Sign in with Google</ion-button>
      <div class="mb10"></div>
      <ion-button class="custom-button signInWithApple" expand="block" (click)="btnSignInWithApple()"><img src="../../assets/apple.png" class="iconW16 mr3"> Sign in with Apple</ion-button>
    </div>
  </div>
</ion-content>
